@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    background-color: #e6deff;
}

/* nav bar */


header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    position:fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(149, 118, 245, 0.8);
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #9576f5;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    padding-left: 10px;
    padding-right: 10px;
}

.header-img{
    max-width: 100%;
    width: 5%;
}
/* Content */
.content{
    padding-top: 100px;
}

/* title */
.intro{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.title{
 font-size: 30px;
 color: #9576f5;
 z-index: 0;

}
.iphone_img{
    max-width: 100%;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;

}
.iphone{
    width: 100%;
}
/* Features */
.features{
    background-color:#9576f5 ;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items:center;
    align-items: center;
    border-radius: 5%;
    color: #e6deff;
}
/* pricing */
.price{
   display: flex;
   justify-content: space-evenly;
    
}
.card{
    display: flex;
    justify-content: space-evenly;
}
.gb{
    background-color: #dacfff;
    width: 15%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}
.p{
    display: grid;
    grid-template-rows: 20% 20% 20% ;
    justify-items: center;
}
.form{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
input{
    padding: 10px;
}
.btn{
    background-color: yellow;
    border-radius: 10%;
}
iframe{
    border-radius: 7%;
}




@keyframes bounce {
    0%{
        top:5%;
        /* margin-top: 10px; */
    }
    50%{
        top:0%;

        /* margin-top: 0px; */
    }
    100%{
        top:5%;
        /* margin-top: 10px; */
    }
    
}

@media (max-width:720px) {
    header{
        display: grid;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }
    .header-img{
        max-width: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .iphone_img{
        z-index: 0;
    }
    .intro{
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        justify-content: center;
    }
    .features{
        padding-top: 50px;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }
    .iframe{
        display: flex;
        justify-content: center;
    }
    .spc{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .gb{
        width: 30%;
    }
 
}

